<section
  class="hero-wrap hero-wrap-2 site-section site-hero inner background"
  style="height: 150vh;"
  data-stellar-background-ratio="0.5"
>
  <div class="container hackathon">
    <div class="row align-items-center">
      <div class="col-md-10">
        <h2
          class="display-4 aos-init aos-animate text-primary setter"
          data-aos="fade-up"
          data-aos-delay="100"
          font-weight="100"
        >
         {{.company}}
        </h2>
        <span
          class="d-block mb-2 caption aos-init aos-animate date text-white"
          data-aos="fade-up"
          data-aos-delay="100"
          >Presents</span
        >
        <h1
          class="d-block mb-4 aos-init aos-animate setterx font-weight-normal"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          {{.event}}
        </h1>
        <h2
          class="display-3 aos-init aos-animate text-primary setter"
          data-aos="fade-up"
          data-aos-delay="100"
          font-weight="100"
        >
         {{.type}}
        </h2>
        <span
          class="d-block mb-5 caption aos-init aos-animate font-weight-normal date text-white"
          data-aos="fade-up"
          data-aos-delay="50"
          >{{.date}}</span
        >
        <h2
          class="display-4 text-primary aos-init aos-animate setter pricee"
          data-aos="fade-up"
          data-aos-delay="50"
          font-weight="50"
        >
          {{.prizes}}
        </h2>
      </div>
    </div>
  </div>
</section>
