<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div
        class="col-lg-4 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="site-section-heading">
          <h2 class="mb-5">{{ .heading }}</h2>
        </div>
      </div>
      <div
        class="col-lg-5 mt-5 pl-lg-5 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <p>
          {{ .text }}
        </p>
      </div>
    </div>

    {{ range $elem_index, $elem_val := .list }}
    {{ $isEven := mod $elem_index 2 }}
    {{ if (mod $elem_index 2)  }}
    <div class="row align-items-center speaker pt-5">
      <div
        class="col-lg-5 mb-5 mb-lg-0 aos-init aos-animate"
        data-aos="fade"
        data-aos-delay="100"
      >
        <img
          src="/images/{{ $elem_val.image }}"
          alt="{{ $elem_val.name }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 ml-auto">
        <h2
          class="text-white mb-4 name aos-init aos-animate"
          data-aos="fade-right"
          data-aos-delay="200"
        >
          {{ $elem_val.name }}
        </h2>
        <div class="bio pl-lg-5">
          <span
            class="text-uppercase text-primary d-block mb-3 aos-init aos-animate"
            data-aos="fade-right"
            data-aos-delay="300"
            >{{ $elem_val.position }}
          </span>
          <p
            class="mb-4 aos-init aos-animate"
            data-aos="fade-right"
            data-aos-delay="400"
          >
            {{ $elem_val.text }}
          </p>
          <p
            data-aos="fade-right"
            data-aos-delay="500"
            class="aos-init aos-animate"
          >
            {{ $elem_val.textBy }}
          </p>
        </div>
      </div>
    </div>

    {{ else }}
    <div class="row align-items-center speaker pt-5">
      <div
        class="col-lg-5 mb-5 mb-lg-0 order-lg-2 aos-init aos-animate"
        data-aos="fade"
        data-aos-delay="100"
      >
        <img
          src="/images/{{ $elem_val.image }}"
          alt="{{ $elem_val.image }}"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 ml-auto order-lg-1">
        <h2
          class="text-white mb-4 name aos-init aos-animate"
          data-aos="fade-left"
          data-aos-delay="200"
        >
          {{ $elem_val.name }}
        </h2>
        <div class="bio pr-lg-5">
          <span
            class="text-uppercase text-primary d-block mb-3 aos-init aos-animate"
            data-aos="fade-left"
            data-aos-delay="300"
            >{{ $elem_val.position }}</span
          >
          <p
            class="mb-4 aos-init aos-animate"
            data-aos="fade-left"
            data-aos-delay="400"
          >
            {{ $elem_val.text }}
          </p>
          <p
            data-aos="fade-left"
            data-aos-delay="500"
            class="aos-init aos-animate"
          >
            {{ $elem_val.textBy }}
          </p>
        </div>
      </div>
    </div>
    {{ end }}

    {{ end }}
  </div>
</div>
