<div class="flex justify-content-center align-items-center">
  <div id="countdown" class="countdown">
    <div class="time">
      <h2 id="days" class="text-white display-2">00</h2>
      <small>days</small>
    </div>
    <div class="time">
      <h2 id="hours" class="text-white display-2">00</h2>
      <small>hours</small>
    </div>
    <div class="time">
      <h2 id="minutes" class="text-white display-2">00</h2>
      <small>minutes</small>
    </div>
    <div class="time">
      <h2 id="seconds" class="text-white display-2">00</h2>
      <small>seconds</small>
    </div>
  </div>
</div>
