<div class="site-section" style="color: black;">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-4">
        <div class="site-section-heading">
          <h2>{{.heading}}</h2>
        </div>
      </div>
      <div class="col-lg-5 mt-3 pl-lg-5">
        <p class="text-white">
         {{.description}}
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 embed-responsive embed-responsive-21by9" data-aos="fade-up" data-aos-delay="300">
        <iframe id="youtube-embed" width="1280" height="720" class="embed-responsive-item"  src="https://www.youtube.com/embed/sREfCus08pc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" autoplay allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
        <span class="text-primary">{{.subheading}}</span>
      </div>
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
        <p class="text-white">
          {{.about}}
         
        </p>
        <p class="mb-5 text-white">
         {{.founderThoughts}}
        </p>

        <div class="d-flex coordinator align-items-center">
          <div class="mr-4">
            <img src="/images/{{.founderPhoto}}" alt="Image" class="img-fluid" />
          </div>
          <span class="text-white"
            >By <span class="text-white">Anubha Maneshwar</span> <br />
            Founder &amp; CEO GirlScript</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
