<div class="site-section" style="color: black;">
    <div class="container">
     
      <div class="row mb-5 pt-5">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <img src="/images/summithero.png" alt="Image" class="img-fluid" />
        </div>
        <div class="col-lg-6 mt-3 pl-lg-6">
          <p class="text-white">Girlscript India summit is the largest tech fest in India, which hosts a wide variety of programs from hackathons to talk sessions. Girlscript is hosting a regional level summit to take the essence of the India summit to each state. The regional level summit will be held in Goa, Maharashtra, Telangana ...(add states). The schedule for the same will be released on the official handles. The roadmap to a bright future can be explored by participating in the regional summit. The week-long event will be filled with tech and non-tech sessions essential for skill development, which will even include profile building. GirlScript Community never fails to make their sessions interesting and useful at the same time.</p>
          </div>
      </div>
     
    </div>
  </div>

  