<section
  class="hero-wrap hero-wrap-2 site-hero inner background"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-10">
        <h1
          class="d-block mb-4 aos-init aos-animate setterx font-weight-normal"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          {{ .heading }}
          {{ .year }}
        </h1>
        <!--<h2-->
        <!--class="display-3 aos-init aos-animate text-primary setter"-->
        <!--data-aos="fade-up"-->
        <!--data-aos-delay="100"-->
        <!--font-weight="100"-->
        <!-->-->
        <!--</h2>-->
        <span
          class="d-block mb-5 caption aos-init aos-animate font-weight-normal date"
          data-aos="fade-up"
          data-aos-delay="300"
          >{{ .timeline }}</span
        >
      </div>
    </div>
  </div>
</section>
