<div class="site-section pb-4" style="background: white;">
  <div class="container">
    <h3
      class="d-block mb-5 caption text-primary aos-init aos-animate"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      {{ .heading }}
    </h3>
    <div class="row mb-5">
      <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up">
        <div class="site-section-heading pb-0">
          <h2 class="text-dark pb-0">{{ .subHeading }}</h2>
        </div>
      </div>
    </div>

    <ul class="display-5">
      {{ range.list }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>
</div>
