<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About Event</h2>
          <p>
            {{ .about }}
          </p>
          <div
            class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
          >
            <a href="https://facebook.com/gssummit2020/" class="p-2 pl-0"
              ><span class="icon-facebook"></span
            ></a>
            <a href="https://twitter.com/gssummit_2021?s=08" class="p-2"
              ><span class="icon-twitter"></span
            ></a>
            <a
              href="https://www.youtube.com/channel/UCBOlJtDcWNh0aUkS2CfI8Aw"
              class="p-2"
              ><span class="icon-youtube"></span
            ></a>
            <a href="https://instagram.com/gssummit_2021?utm_medium=copy_link" class="p-2"
              ><span class="icon-instagram"></span
            ></a>
            <a href="https://www.linkedin.com/company/gssummit2020" class="p-2"
              ><span class="icon-linkedin"></span
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Useful Links</h2>
          <ul class="list-unstyled">
            <li><a href="/about">About Us</a></li>
            <li><a href="/speakers">Speakers</a></li>
            <li><a href="/hackathon">Hackathon</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span
                ><span class="text">{{ .address }}</span>
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-phone"></span
                  ><span class="text">{{ .phone }}</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">{{ .email }}</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          &nbsp; All rights reserved | made with
          <i class="icon-heart color-danger" aria-hidden="true"></i>&nbsp; by 
          <a href="https://girlscriptsummit.com/" target="_blank"
            >GirlScript India</a
          >
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
