<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html" style="color: #fff;">
      <img
        alt="Girlscript Summit Logo"
        width="200"
        src="/images/{{ .Site.Data.navbar.logo }}"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        {{ range.Site.Data.navbar.list }}

        {{ if .isAction }}
        <li class="nav-item cta mr-md-2">
          {{ if (eq $.RelPermalink .link) }}
          <a
            href="{{ .link }}"
            class="nav-link activex"
            >{{ .name }}</a
          >
          {{ else }}
          <a
            href="{{ .link }}"
            class="nav-link"
            >{{ .name }}</a
          >
          {{ end }}
        </li>
        {{ else }}

        <li class="nav-item">
          {{ if (eq $.RelPermalink .link) }}
          <a
            href="{{ .link }}"
            class="nav-link active-index activex"
            >{{ .name }}</a
          >
          {{ else }}
          <a href="{{ .link }}" class="nav-link active-index">{{ .name }}</a>
          {{ end }}
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
