<section class="services-section sponsor">
  <div class="container">
    {{ with.sponsors.titleSponsor }}
    <div class="row mb-5">
      <div class="col-lg-4">
        <div
          class="site-section-heading aos-init aos-animate"
          data-aos="fade-up"
        >
          <h2 class="actviey">{{ .heading }}</h2>
        </div>
      </div>
      <div
        class="col-lg-6 mt-5 pl-lg-5 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <p></p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-6 col-lg-4 mb-5 mb-lg-0 center aos-init aos-animate"
        data-aos="fade"
        data-aos-delay="200"
      >
        <div class="testimony text-center">
          <img
            src="/images/{{ .image }}"
            alt="{{ .name }}"
            class="img-fluid"
            width="{{ .imageWidth }}"
            height="0"
          />
          <blockquote>
            <p class="author mb-0">{{ .name }}</p>
            <span
              class="text-uppercase text-primary d-block mb-3 aos-init aos-animate"
              data-aos="fade-right"
              data-aos-delay="300"
              >{{ .text }}</span
            >
            <p></p>
          </blockquote>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="site-section">
      <div class="container">
        {{ if (isset .sponsors "sponsorHeading") }}
        <div class="row mb-5">
          <div class="col-lg-4">
            <div
              class="site-section-heading aos-init aos-animate"
              data-aos="fade-up"
            >
              <h2 class="pt-5 text-center">{{ .sponsors.sponsorHeading }}</h2>
            </div>
          </div>
          <div
            class="col-lg-6 mt-5 pl-lg-5 aos-init aos-animate"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <p></p>
          </div>
        </div>
        {{ end }}
        <div class="row mb-5">
          {{ if (isset .sponsors "list") }}
          {{ range.sponsors.list }}
          <div
            class="col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate"
            data-aos="fade"
            data-aos-delay="200"
          >
            <div class="testimony text-center">
              <img
                src="/images/{{ .image }}"
                alt="{{ .name }}"
                class="img-fluid"
                width="{{ .imageWidth }}"
                height="{{ .imageHeight }}"
              />
              <blockquote>
                <p class="author mb-0">{{ .name }}</p>
                <span
                  class="text-uppercase text-primary d-block mb-3 aos-init aos-animate"
                  data-aos="fade-right"
                  data-aos-delay="300"
                  >{{ .text }}</span
                >
                <p></p>
              </blockquote>
            </div>
          </div>
          {{ end }}
          {{ end }}

          <div class="site-section">
            <div class="container">
              {{ if (isset .partners "heading") }}
              <div class="row mb-5">
                <div class="col-lg-4">
                  <div
                    class="site-section-heading aos-init aos-animate"
                    data-aos="fade-up"
                  >
                    <h2 class="pt-3">{{ .partners.heading }}</h2>
                  </div>
                </div>
                <div
                  class="col-lg-6 mt-5 pl-lg-5 aos-init aos-animate"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <p></p>
                </div>
              </div>
              {{ end }}
              {{ if (isset .partners "list") }}
              <div class="row mb-5">
                {{ range.partners.list }}
                <div
                  class="col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate"
                  data-aos="fade"
                  data-aos-delay="200"
                >
                  <div class="testimony text-center">
                    <img
                      src="/images/{{ .image }}"
                      alt="{{ .name }}"
                      class="img-fluid"
                      width="{{ .imageWidth }}"
                      height="{{ .imageHeight }}"
                    />
                    <blockquote>
                      <p class="author mb-0">{{ .name }}</p>
                      <span
                        class="text-uppercase text-primary d-block mb-3 aos-init aos-animate"
                        data-aos="fade-right"
                        data-aos-delay="300"
                        >{{ .text }}</span
                      >
                      <p></p>
                    </blockquote>
                  </div>
                </div>
                {{ end }}
              </div>
              {{ end }}

              {{ with.sponsors.link }}
              <div
                class="row aos-init aos-animate"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                <!-- <div class="col-12 text-center pt-5">
                  <a
                    href="{{ . }}"
                    class="btn-custom buy-ticket-btn"
                    data-aos="fade-up"
                    data-aos-delay="800"
                    ><span>BE A SPONSER</span></a
                  >
                </div> -->
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
