<script
  src="https://code.jquery.com/jquery-3.1.0.js"
  integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
  crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-migrate-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/bundle.js"></script>
	<!--<script src="/js/jquery.min.js"></script>-->
	<!--<script src="/js/jquery-migrate-3.0.1.min.js"></script>-->
	<!--<script src="/js/popper.min.js"></script>-->
	<!--<script src="/js/bootstrap.min.js"></script>-->
	<!--<script src="/js/jquery.easing.1.3.js"></script>-->
	<!--<script src="/js/jquery.waypoints.min.js"></script>-->
	<!--<script src="/js/jquery.stellar.min.js"></script>-->
	<!--<script src="/js/owl.carousel.min.js"></script>-->
	<!--<script src="/js/jquery.magnific-popup.min.js"></script>-->
	<!--<script src="/js/aos.js"></script>-->
	<!--<script src="/js/jquery.animateNumber.min.js"></script>-->
	<!--<script src="/js/bootstrap-datepicker.js"></script>-->
	<!--[><script src="/js/jquery.timepicker.min.js"></script><]-->
	<!--<script src="/js/scrollax.min.js"></script>-->
	<!--<script src="/js/google-map.js"></script>-->
	<!--<script src="/js/main.js"></script>-->
</body>
</html>
