<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section activey">
        <h2 class="text-white">{{ .heading }}</h2>
      </div>
    </div>

    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {{ range.list }}
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div
                class="user-img mb-4"
                style="background-image: url(/images/{{ .image }});"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">
                  {{ .text }}
                </p>
                <p class="name">{{ .name }}</p>
                <span class="position">{{ .position }}</span>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
