<section class="ftco-section bg-light" id="ticket-pricing">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-1 activey">{{ .heading }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range.list }}
      <div class="col-md-4 ftco-animate">
        <div class="block-7">
          <div class="text-center">
            <h2 class="heading">{{ .name }}</h2>
            <span class="price"
              ><sup>RS</sup> <span class="number">{{ .price }}</span></span
            >

            <h3 class="heading-2 my-4">Enjoy All The Features</h3>

            <ul class="pricing-text mb-5">
              {{ range.features }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>

            <a href="{{ .link }}" class="btn btn-primary d-block px-2 py-3" 
              >Coming Soon</a
            >
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
