<div class="site-section" style="color: black;">
    <div class="container">
     
      
      <div class="row mb-5 pt-5">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <img src="/images/summithero.png" alt="Image" class="img-fluid" />
        </div>
        <div class="col-lg-6 mt-3 pl-lg-6">
          <p class="text-white">Companies understand the value of tech education and awareness and that's why many prestigious companies have sponsored us in the past.<br/> Please write to us at'<span style="color: #ef6700;word-break: break-all;">	girlscriptindiasummit@gmail.com</span>' for sponsoring our event in 2021. GirlScript Foundation is section-8 non-profit company registered under government of India.</p>
            <!-- <br/>
            <p class="text-white">
                The Winning Projects in our Hackathon theme ‘HACK4WOMEN’ are incubated by Gujarat Government, Microsoft, and HCL Technologies.
            </p> -->
            <p class="text-white">
                <br/>This included 48 % male and 52% female participation.</p>
            <!--<p class="p-1 m-0 text-white">Our Moto is </p>
            <ul class="text-white">
                <li>To educate people in Tech</li>
                <li>Remove myths about tech education</li>
                <li>Spread awareness about opportunities in tier 2 and tier 3 cities</li>
                <li>Introduce tech content that is helpful to everyone</li>
            </ul> -->
          </div>
      </div>
     
    </div>
  </div>

  