<section
  class="hero-wrap hero-wrap-2 site-hero inner background"
  data-stellar-background-ratio="0.5"
>
  <div class="container padi">
    <div class="row align-items-center content-hero justify-content-center">
      <div class="col-md-10">
        
        <h1
          class="d-block mb-4 mt-4 aos-init aos-animate h1tag display-1 font-weight-normal"
          data-aos="fade-up"
          data-aos-delay="100"
        >
         Why Sponsor Us?
        </h1>
        <span
          class="d-block mt-5 mb-3 caption aos-init aos-animate date text-white"
          data-aos="fade-up" style="font-size: 1rem !important;"
          >GirlScript India Summit is the Biggest Annual Event of Technology, Talent, Entrepreneurship, and Diversity, hosted by GirlScript Foundation.</span
        >
      </div>
    </div>
  </div>
</section>
